doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=getAssetPath('main.css'), rel='stylesheet')
    title Хлопковый Рай - склад
  body
    #app
      h1 Hello, World!
    script(src=getAssetPath('main.js'))