doctype html
html.h-100(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=getAssetPath('main.css'), rel='stylesheet')
    title Хлопковый Рай - склад
  body.h-100
    #app.h-100
    script(src=getAssetPath('main.js'))