@import '~react-complex-tree/lib/style.css';

:root {
  --rct-color-tree-bg: transparent;
  --rct-color-tree-focus-outline: transparent;
  --rct-color-focustree-item-selected-bg: var(--bs-secondary);
  --rct-color-nonfocustree-item-selected-bg: var(--bs-secondary);
  --rct-color-nonfocustree-item-focused-border: transparent;
}

.rct-tree-item-li {
  font-size: 1em;
}
